.editors-container {
  height: calc(100vh - 140px);
  min-height: 500px;
  width: 100%;
}

.editors-split {
  display: flex;
  width: 100%;
  height: 100%;
}

.editors-split-horizontal {
  flex-direction: column;
}

.editors-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.editors-editor {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.editors-paper {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.gutter {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.2s ease;
}

.gutter-horizontal {
  cursor: col-resize;
  width: 8px !important;
  height: 100%;
  min-height: 100%;
}

.gutter-vertical {
  cursor: row-resize;
  height: 8px !important;
  width: 100%;
  min-width: 100%;
}

.gutter:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
